{% extends "_global/index.html" %} 
{% block main %} 

<div>    
    Dashboard...
    <ul>
     <li><a href="{{ BASE }}admin/categories/">  Kategorije</a>
     <li><a href="{{ BASE }}admin/models/">  Modeli</a>


    </ul>
</div>


<p>Vreme: {{ "now"|date('d.m.Y. H.i', timezone = "Europe/Belgrade") }}</p>
{% endblock %}