{% extends "_global/index.html" %} 
{% block main %}


<div class="row">
    {% for model in models %}
    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center model">
        <div class="card-body">
            <a href="{{ BASE }}model/{{ model.model_id }}" class="card-title">
                {{ model.name|escape }}
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}