{% extends "_global/index.html" %} 

{% block main %} 

<div class="row">
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-body">
                <a href="{{ BASE }}user/ads/add" class="btn btn-outline-success"><i class="fa fa-plus"></i>Novi oglas
                </a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-body">
              <a href="{{ BASE }}user/ads/" class="btn btn-outline-secondary"><i class="fa fa-list"></i>Moji oglasi
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-body">
              <a href="{{ BASE }}user/logout/" class="btn btn-outline-danger"><i class="fa fa-sign-out"></i> Odjava
              </a>
            </div>
          </div>
        </div>
</div>


{% endblock %}