{% extends "_global/index.html" %} 
{% block main %} 





<div>    
    <div class="options">
            <a href="{{ BASE }}user/ads/add">Dodaj novi oglas</a>
    </div>

    <div class="ads">
        <ul>
            {% for ad in ads %}
            <li>
                <a href="{{ BASE }}user/ads/edit/{{ ad.ad_id }}">
                    {{ ad.title|escape }}
                </a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}