{% extends "_global/index.html" %} 
{% block main %} 
<div>    
    <div class="options">
            <a href="{{ BASE }}user/ads">Moji oglasi</a>
    </div>



    <form class="ad-form" method="POST" enctype="multipart/form-data" onsubmit="return vallidateForm();">
        <div class="form-group">
            <label >Naziv: </label>
            <input type="text" id="title" name="title" required class="form-control" >
        </div>

        <div class="form-group">
            <label >Opis: </label>
            <textarea id="description" name="description" required class="form-control" rows="10" ></textarea>
        </div>

        <div class="form-group">
            <label >Cena: </label>
            <input type="number" id="price" name="price" required class="form-control"
                    min="1" step="1">
        </div>

 
         <div class="form-group">
            <label >Izaberite model:</label>
            <select class="form-control" name="model_id" id="model_id">
               {% for category in categories %}
               <optgroup label="{{ category.name }}">
               		{% for model in category.models %}
               		<option value="{{ model.model_id }}">
               				{{ model.name }}
               		</option>
               		{% endfor %}
               </optgroup>
               {% endfor %}
            </select>
         </div>



<!--
         <div class="form-group">
            {% for feature in features %}
                <label>{{ feature.name }}</label>
                <input type="text" name="feature_ids[{{feature.feature_id}}]" value="feature_ids[{{feature.feature_id}}]" required class="form-control"> 
            {% endfor %}
        </div>
-->



    <div class="form-row">
            <div class="col-md-4 mb-3">
            <label >Gorivo</label>
            <select class="form-control" name="feature_ids[1]">
                            <option value="benzin">         Benzin</option>
                            <option value="dizel">          Dizel</option>
                            <option value="TNG">            Benzin + Gas</option>
                            <option value="elektricniPogon">Elektricni pogon</option>
                            <option value="hibridPogon">    Hibrid pogon</option>
            </select>
    </div>

    <div class="col-md-4 mb-3">
            <label >Karoserija: </label>
            <select class="form-control" name="feature_ids[2]" >
                            <option value="limuzina">       Limuzina</option>
                            <option value="hecbek">         Hečbek</option>
                            <option value="karavan">        Karavan</option>
                            <option value="kupe">           Kupe</option>
                            <option value="kabriolet">      Kabriolet</option>
                            <option value="minivan">        MiniVan</option>
                            <option value="dzip">           Džip/SUV</option>
                            <option value="pickup">         Pickup</option>
            </select>
    </div>

    <div class="col-md-4 mb-3">
            <label >Broj vrata: </label>
            <select class="form-control" name="feature_ids[3]" >
                            <option value="2">       2/3 vrata</option>
                            <option value="4">       4/5 vrata</option>
            </select>
    </div>

            <div class="col-md-4 mb-3">
            <label >Boja: </label>
            <select class="form-control" name="feature_ids[4]" >
                    <option value="crna">      Crna</option>
                    <option value="bela">      Bela</option>
                    <option value="siva">      Siva</option>
                    <option value="zuta">      Zuta</option>
                    <option value="zlatna">    Zlatna</option>
                    <option value="zelena">    Zelena</option>
                    <option value="plava">     Plava</option>
                    <option value="crvena">    Crvena</option>
                    <option value="ljubicasta">Ljubicasta</option>
            </select>
    </div>    
    
    <div class="col-md-4 mb-3">
            <label>Godiste: </label>
            <input type="number"  class="form-control" name="feature_ids[5]"
                    min="1990" max="2018" step="1" value="2018">
    </div>    

    <div class="col-md-4 mb-3">
            <label >Zapremina motora: </label>
            <select class="form-control" name="feature_ids[6]" >
                            <option value="500">       500cm³</option>
                            <option value="1150">    1150cm³</option>
                            <option value="1300">    1300cm³</option>
                            <option value="1600">    1600cm³</option>
                            <option value="1800">    1800cm³</option>
                            <option value="2000">    2000cm³</option>
                            <option value="2500">    2500cm³</option>
                            <option value="3000">    3000cm³</option>
                            <option value="3500">    3500cm³</option>
                            <option value="4500">    4500cm³</option>
            </select>
    </div>   
    
    <div class="col-md-4 mb-3">
            <label >Snaga motora: </label>
            <select class="form-control" name="feature_ids[7]" >
                            <option value="25">   25kW</option>
                            <option value="35">   35kW</option>
                            <option value="44">   44kW</option>
                            <option value="55">   55kW</option>
                            <option value="66">   66kW</option>
                            <option value="74">   74kW</option>
                            <option value="85">   85kW</option>
                            <option value="96">   96kW</option>
                            <option value="110">  110kW</option>
                            <option value="147">  147kW</option>
                            <option value="184">  184kW</option>
                            <option value="222">  222kW</option>
                            <option value="262">  262kW</option>
                            <option value="294">  294kW</option>
                            <option value="333">  333kW</option>
            </select>
    </div>   
    
    <div class="col-md-4 mb-3">
            <label >Posebna elektronska oprema:</label>
            <select class="form-control" name="feature_ids[8]" >
                            <option value="da">       Da</option>
                            <option value="ne">         Ne</option>
            </select>
    </div>   
    
    <div class="col-md-4 mb-3">
            <label >Posebni kocioni sistemi:  </label>
            <select class="form-control" name="feature_ids[9]" >
                            <option value="da">       Da</option>
                            <option value="ne">         Ne</option>
            </select>
    </div>    
    
    <div class="col-md-4 mb-3">
            <label >Luksuzna oprema enterijera:    </label>
            <select class="form-control" name="feature_ids[10]" >
                            <option value="da">       Da</option>
                            <option value="ne">       Ne</option>

            </select>
    </div>    
    
    <div class="col-md-4 mb-3">
            <label >Registracija: </label>
            <select class="form-control" name="feature_ids[11]" >
                            <option value="da">       Da</option>
                            <option value="ne">       Ne</option>
            </select>
    </div>   

    <div class="col-md-4 mb-3">
            <label >Vlasnik: </label>
            <select class="form-control" name="feature_ids[12]" >
                            <option value="da">       Da</option>
                            <option value="ne">       Ne</option>
            </select>
    </div>   

    <div class="col-md-4 mb-3">
            <label >Dokumentacija: </label>
            <select class="form-control" name="feature_ids[13]" >
                            <option value="da">       Da</option>
                            <option value="ne">       Ne</option>
            </select>
    </div>
</div>

<div class="form-group">
        <label >Slika: </label>
        <input type="file" id="image" name="image" required class="form-control" accept="image/jpeg, image/png">
</div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Dodaj oglas
            </button>
        </div>
    </form>
    <script>
                function vallidateForm(){
                    let status = true;
                    document.querySelector('#error-message').classList.add('d-none');      
                    document.querySelector('#error-message').innerHTML = '';        
        
                    const title = document.querySelector('#title').value;
                    if (!title.match(/.*[^\s]{3,}.*/)){
                        document.querySelector('#error-message').innerHTML +='Naslov mora imati bar 3 vidljiva karaktera';
                        document.querySelector('#error-message').classList.remove('d-none');              
                        status = false;
                    }
        
                    const description = document.querySelector('#description').value;
                    if (!description.match(/.*[^\s]{7,}.*/)){
                        document.querySelector('#error-message').innerHTML +='Opis mora imati bar 7 vidljivih karaktera';
                        document.querySelector('#error-message').classList.remove('d-none');              
                        status = false;
                    }
                    return status;
                }
            </script>

</div>
{% endblock %}