{% extends "_global/index.html" %} 
{% block main %} 
<div>    
    <div class="options">
            <a href="{{ BASE }}user/ads">Moji oglasi</a>
    </div>



    <form class="ad-form" method="POST" enctype="multipart/form-data" onsubmit="return vallidateForm();">
        <div class="form-group">
            <label for="title">Naziv: </label>
            <input type="text" id="title" name="title" required class="form-control"
                   value="{{ ad.title }}">
        </div>

        <div class="form-group">
            <label for="description">Opis: </label>
            <textarea id="description" name="description" required class="form-control" 
                      rows="10">{{ ad.description }}</textarea>
        </div>

        <div class="form-group">
            <label for="price">Cena: </label>
            <input type="number" id="price" name="price" required class="form-control"
                    min="1" step="1"  value="{{ ad.price }}">
        </div>     
 
         <div class="form-group">
            <label for="model_id">Izaberite model:</label>
            <select class="form-control" name="model_id" id="model_id" class="form-control">
               {% for category in categories %}
               <optgroup label="{{ category.name }}">
               		{% for model in category.models %}
               		<option value="{{ model.model_id }}" {% if ad.model_id ==  model.model_id %}selected{% endif %}>
               				{{ model.name }}
               		</option>
               		{% endfor %}
               </optgroup>
               {% endfor %}
            </select>
         </div>
    

         <div class="form-group">
                {% for feature in features %}
                    <label>{{ feature.name }}</label>
                    <input type="text" name="feature_ids[{{feature.feature_id}}]" value="{{ feature.value }}" class="form-control"> 
                {% endfor %}
            </div>
    

    <div class="form-group">
            <label for="image">Slika: </label>
            <input type="file" id="image" name="image"  class="form-control" accept="image/jpeg, image/png">
    </div>



        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
                Izmeni oglas 
            </button>
        </div>

        <div class="alert alert-warning d-none" id="error-message">

        </div>
    </form>
    <script>
        function vallidateForm(){
            let status = true;
            document.querySelector('#error-message').classList.add('d-none');      
            document.querySelector('#error-message').innerHTML = '';        

            const title = document.querySelector('#title').value;
            if (!title.match(/.*[^\s]{3,}.*/)){
                document.querySelector('#error-message').innerHTML +='Naslov mora imati bar 3 vidljiva karaktera';
                document.querySelector('#error-message').classList.remove('d-none');              
                status = false;
            }

            const description = document.querySelector('#description').value;
            if (!description.match(/.*[^\s]{7,}.*/)){
                document.querySelector('#error-message').innerHTML +='Opis mora imati bar 7 vidljivih karaktera';
                document.querySelector('#error-message').classList.remove('d-none');              
                status = false;
            }
            return status;
        }
    </script>


</div>
{% endblock %}