{% extends "_global/index.html" %} 
{% block main %} 



<div>    
    <div class="options">
            <a href="{{ BASE }}user/ads">Moji oglasi</a>
    </div>

    <p>{{ message|escape }}</p>
</div>














{% endblock %}