{% extends "_global/index.html" %} 
{% block main %} 


<div>    
    <div class="options">
            <a href="{{ BASE }}admin/models">Lista svih modela</a>
    </div>

    <form class="model-form" method="POST">
        <div>
            <label for="name">Naziv: </label>
            <input type="text" id="name" name="name" required>
        </div>
    
        <div>
            <button type="submit">
                Dodaj model
            </button>
        </div>
    </form>
</div>




<p>Vreme: {{ "now"|date('d.m.Y. H.i', timezone = "Europe/Belgrade") }}</p>
{% endblock %}