{% extends "_global/index.html" %} 
{% block main %} 
<div>    


    
    <div class="options">
            <a href="{{ BASE }}admin/models/add">Dodaj novi model</a>
    </div>




    
    <div class="models">
            <select name="models">
                {% for model in models %}
                    <option value="{{ BASE }}admin/models/edit/{{ model.model_id }}">
                    {{ model.name|escape }}
                    </option>  
                {% endfor %}
            </select> 
    </div>



</div>


<p>Vreme: {{ "now"|date('d.m.Y. H.i', timezone = "Europe/Belgrade") }}</p>
{% endblock %}