{% extends "_global/index.html" %} 
{% block main %}
<form class="search-form" method="post" action="{{ BASE }}searchAdvanced">
        <div class="row">
                <div class="col-md-6 mb-3 ">
                <label >Cena od</label>
                <input type="number"  class="form-control" name="priceStarts" value="0">
                </div>
        
                <div class="col-md-6 mb-3">
                <label >Cena do</label>
                <input type="number"  required class="form-control" name="priceEnds" value="99999">
                </div>
        
        
                <div class="col-md-6 mb-3">
                        <label>Gorivo</label>
                        <select class="form-control" name="fuel">
                                        <option value="benzin">         Benzin</option>
                                        <option value="dizel">          Dizel</option>
                                        <option value="TNG">            Benzin + Gas</option>
                                        <option value="elektricniPogon">Elektricni pogon</option>
                                        <option value="hibridPogon">    Hibrid pogon </option>
                                        
                        </select>
                </div>
        
                <div class="col-md-6 mb-3">
                        <label>Karoserija: </label>
                        <select class="form-control" name="bodytype">
                                        <option value="limuzina">       Limuzina</option>
                                        <option value="hecbek">         Hečbek</option>
                                        <option value="karavan">        Karavan</option>
                                        <option value="kupe">           Kupe</option>
                                        <option value="kabriolet">      Kabriolet</option>
                                        <option value="minivan">        MiniVan</option>
                                        <option value="dzip">           Džip/SUV</option>
                                        <option value="pickup">         Pickup</option>
        
        
                        </select>
                </div>
        
        
        
                <div class="col order-12 form-group">
                        <button class="btn btn-warning my-2 my-sm-0 input-group-append" type="submit" >Detaljna pretraga</button>
                </div> 
            </div>
            </form>
  
<div class="row">
    {% for category in categories %}
    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center category">
        <div class="card-body">
            <a href="{{ BASE }}category/{{ category.category_id }}" class="card-title">
                {{ category.name|escape }}
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
