.social-icons { 
    margin-bottom: 10px;
}

.social-icons a i.fa{
    display: inline-block;
    color: #000;
    font-size: 20pt;
    margin:5px;
}


.category {
    margin-top: 15px;
    padding: 50px 0px;
    background-color: #f1f1f1;
}
.model {
    padding: 50px 0px;
}
.ad{
    margin-top: 15px;
    margin-bottom: 15px;
}
.width-100-percent{
    width: 100%;
}
.navbar{
    margin-bottom: 15px;
}

.search-form{
    padding: 0px 10px;
}

ul.features {
    border-left: 5px solid #d8ab50;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 20px;
}



/*
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0 auto;
    width: 900px;
}

.site-header{
    display: grid;
    grid-template-areas: "banner banner banner banner"
                         "banner banner banner banner"
                         "banner banner banner banner"
                         "menu   menu   menu   menu";
    grid-auto-flow: dense;
    grid-gap: 5px;
    
}

.banners { 
    grid-area: banner;   
 }



#main-menu { 
    height: 40px;
    grid-area: menu; 
    margin-bottom: 10px ;
    background: rgba(230, 233, 231, 0.644);
  

   
}

#main-menu > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}

#main-menu > ul > li {
    text-align: center;
    flex-grow: 1;
}

#main-menu > ul > li:hover {
    font-weight: bold;
    border-bottom: 4px solid rgba(148, 184, 155, 0.644);
}

#main-menu > ul > li > a {
    text-decoration: none;
    padding: 10px 0px;
    display: block;
    color: rgba(22, 34, 27, 0.631);

}
#main-menu > ul > li > a :hover{
    text-decoration: none;
    padding: 10px 0px;
    display: block;
    color: rgba(3, 12, 7, 0.631);

}


.categories {
    display:flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
}

.category {
    width: 50%;
    text-align: center;
    
}


.models {
    display:flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
}

.model {
    width: 50%;
    text-align: center;
    padding: 50px 100px;
    border: 1px solid #ccc;
    background: rgba(136, 169, 142, 0.644);
    text-decoration: none;
    color: #000;
}

.model:hover {
    border: 1px solid #000;
    background: rgba(168, 221, 186, 0.693);
}



.site-footer {
    margin-top: 40px;
    text-align: center;
}


.ad {
    display: grid;
    grid-template-areas: "big-image big-image big-image title       title       title"
                         "big-image big-image big-image description description price"
                         "features features     features    features    features    features";
                         
    grid-template-columns: 120px 0px 150px auto;
    border-bottom: 1px solid #444;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.ad > .ad-title { grid-area: title;  }
.ad > .ad-description { grid-area: description;   }
.ad > .ad-price { grid-area: price;  text-align: right;}
.ad > .ad-big-image { grid-area: big-image;  height: 150px; width: 220px;}


.bookmarks {
    border: 1px solid #000000;
    background:#fefefe;
    position:fixed;
    display:block;
    right:0px;
    top:50px;
}


.adZoom {
    display: grid;
    grid-template-areas: "big-image big-image   big-image   title           title "
                         "big-image big-image   big-image   description     description "
                         "price     price       x           description     description";
                 
                         
    grid-template-columns: 120px 0px 150px auto;
    border-bottom: 1px solid #444;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.adZoom > .ad-title1 { grid-area: title;  }
.adZoom > .ad-description1 { grid-area: description;   }
.adZoom > .ad-price1 { grid-area: price;  text-align: right;}
.adZoom > .ad-big-image1 { grid-area: big-image;  height: 150px; width: 220px;}

.features {
background-color: rgb(180, 228, 213);
}



*/


