{% extends "_global/index.html" %}

{% block main %}
<form class="search-form" method="post" action="{{ BASE }}searchAdvanced">
<div class="row">
        <div class="col-md-6 mb-3 ">
        <label>Cena od</label>
        <input type="number"  class="form-control" name="priceStarts" value="0">
        </div>

        <div class="col-md-6 mb-3">
        <label >Cena do</label>
        <input type="number"  required class="form-control" name="priceEnds" value="99999">
        </div>


        <div class="col-md-6 mb-3">
                <label >Gorivo</label>
                <select class="form-control" name="fuel">
                                <option value="benzin">         Benzin</option>
                                <option value="dizel">          Dizel</option>
                                <option value="TNG">            Benzin + Gas</option>
                                <option value="elektricniPogon">Elektricni pogon</option>
                                <option value="hibridPogon">    Hibrid pogon </option>
                                
                </select>
        </div>

        <div class="col-md-6 mb-3">
                <label >Karoserija: </label>
                <select class="form-control" name="bodytype">
                                <option value="limuzina">       Limuzina</option>
                                <option value="hecbek">         Hečbek</option>
                                <option value="karavan">        Karavan</option>
                                <option value="kupe">           Kupe</option>
                                <option value="kabriolet">      Kabriolet</option>
                                <option value="minivan">        MiniVan</option>
                                <option value="dzip">           Džip/SUV</option>
                                <option value="pickup">         Pickup</option>


                </select>
        </div>



        <div class="form-group">
                <button class="btn btn-warning my-2 my-sm-0 input-group-append" type="submit" >Detaljna pretraga</button>
        </div> 
    </div>
    </form>

    <ul>
        {% for ad in ads %}
        
        <li class="ad row">
                <div class="col-12 col-md-2">
                        <a href="{{ BASE }}ad/{{ ad.ad_id }}">
                            <img src="{{ BASE }}assets/img/{{ ad.image_path }}" 
                            alt="Velika slika - {{ ad.ad_id }}" class="width-100-percent" >
                        </a>
                </div>
                <div class="col-12 col-md-10">
                        <a href="{{ BASE }}ad/{{ ad.ad_id }}">
                            {{ ad.title|escape }}
                        </a>
                    <div class="row">
                        <span class="col-6 col-md-4"> {{ ad.starts_at|escape }} </span>
                        <span class="col-6 col-md-4"> {{ ad.ends_at|escape }} </span>
                        <span class="col-12 col-md-4"> {{ ad.price|escape }} EUR</span>
    
                    </div>
                </div>

        {% endfor %}
    </ul>


       
               
    
    
{% endblock %}

