{% extends "_global/index.html" %} 

{% block main %} 
<div>    


    
    <div class="options">
            <a href="{{ BASE }}admin/categories/add">Dodaj novu kategoriju</a>
    </div>




    
    <div class="categories">
            <select name="categories">
                {% for category in categories %}
                    <option value="{{ BASE }}admin/categories/edit/{{ category.category_id }}">
                    {{ category.name|escape }}
                    </option>  
                {% endfor %}
            </select> 
    </div>



</div>


<p>Vreme: {{ "now"|date('d.m.Y. H.i', timezone = "Europe/Belgrade") }}</p>
{% endblock %}