{% extends "_global/index.html" %} 

{% block main %} 
<div>    
    <div class="options">
            <a href="{{ BASE }}admin/categories">Lista svih kategorija</a>
    </div>

    <form class="category-form" method="POST">
        <div>
            <label for="name">Naziv: </label>
            <input type="text" id="name" name="name" required>
        </div>
    
        <div>
            <button type="submit">
                Dodaj kategoriju
            </button>
        </div>
    </form>
</div>


<p>Vreme: {{ "now"|date('d.m.Y. H.i', timezone = "Europe/Belgrade") }}</p>
{% endblock %}