{% extends "_global/index.html" %} 

{% block main %} 
<div>    
    <div class="options">
            <a href="{{ BASE }}admin/categories">List all categories</a>
            <a href="{{ BASE }}admin/categories/add">Add new category</a>
    </div>

    <form class="category-form" method="POST">
        <div>
            <label for="name">Naziv: </label>
            <input type="text" id="name" name="name" value="{{ category.name|escape}}">
        </div>
    
        <div>
            <button type="submit">
                Izmeni kategoriju
            </button>
        </div>
    </form>
</div>


<p>Vreme: {{ "now"|date('d.m.Y. H.i', timezone = "Europe/Belgrade") }}</p>
{% endblock %}