{% extends "_global/index.html" %} 

{% block main %} 
<div>    
    <div class="options">
            <a href="{{ BASE }}admin/categories">List all categories</a>
    </div>

   <p>{{ message|escape }}</p>
</div>


<p>Vreme: {{ "now"|date('d.m.Y. H.i', timezone = "Europe/Belgrade") }}</p>
{% endblock %}