<!doctype html>
<html>

    <head>
        <title>Oglasavanje vozila - {% block naslov %}Pocetna{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">

        <link rel="icon" type="image/png" href="{{ BASE }}assets/img/social/k.png" />
       
    </head>



    <body>
        <div class="container">
        <header>
            <div class="row">
                <div class="col col-sm">
                            <a href = "{{ BASE }}">
                                <img src="{{ BASE }}assets/img/slider2.jpg" class="img-fluid" alt="Responsive image">
                            </a>
                </div>
            
                    <!--    
                <div class = "col col-sm">
                    <div class="social-icons text-right">
                        <a href="#"><i class="fa fa-facebook-official"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                
                    <div class="search-box">
                        <form method="post" action="{{ BASE }}search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="..." required pattern="[^\s]{2,}">
                                    <button type="submit" class="btn btn-primary input-group-append"> <i class="fa fa-search"></i></button> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
              -->
            </div>

            

         

            <nav class="navbar navbar-inverse  navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
                   <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    
                     
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                            <a class="nav-item nav-link" href="{{ BASE }}"><i class="fa fa-home"></i> POČETNA</a>
                            <a class="nav-item nav-link" href="{{ BASE }}categories"><i class="fa fa-list"></i> KATEGORIJE</a>
                            <a class="nav-item nav-link" href="{{ BASE }}user/profile"><i class="fa fa-user"></i> PROFIL</a>
                            <a class="nav-item nav-link" href="{{ BASE }}contact"><i class="fa fa-phone"></i> KONTAKT</a>
                           <!-- <a class="nav-item nav-link" href="{{ BASE }}user/logout"><i class="fa fa-sign-out"></i> ODJAVA</a>-->
                      </div>
                  </div>

                  <div class="search-box">
                        <form class="form-inline" method="post" action="{{ BASE }}search">
                            <div class="form-group">
                                <div class="input-group">
                                 <input type="search" name="q" class="form-control mr-sm-2"  placeholder="pretraga" aria-label="Search" required pattern="[^\s]{2,}">
                                 <button class="btn btn-outline-warning my-2 my-sm-0 input-group-append" type="submit">Pretraga</button>
                            </div>
                            </div>
                        </form> 
                    </div>
            </nav>

           

         
                   

        </header>

        <main>
            {% block main %}
            {% endblock %}
        </main>


        <footer class="site-footer">
            &copy; 2018 - Oglasavanje vozila 
        </footer>
    </div>

    <script>const BASE = '{{ BASE }}'; </script>
    <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ BASE }}assets/js/javascript.js"></script>
    </body>
</html>